@import "../Colors.scss";

header {
	border-bottom: 1px solid $outline-color;
	font: 400 24px 'Baloo Chettan 2';
	height: 62px;
	padding: 0 60px;
	position: fixed;
	width: 100%;

	.header-container {
		display: flex;
		height: 100%;
		margin: 0 auto;
		max-width: 1440px;
	}

	div#brand {
		align-self: center;
		flex: 1;
		font-weight: 600;

		.brand-large {
			display: block;
			font-size: 70%;
			font-weight: 400;
			margin-top: -10px;
			opacity: 0.7;
		}
	}

	a {
		color: inherit;
		opacity: 0.7;
		text-decoration: none;
		transition: 0.3s opacity;

		&:hover {
			opacity: 1.0;
			transition: 0.05s opacity;
		}
	}

	div.menu-link {
		align-items: center;
		display: flex;
		flex: 0;
		height: 100%;
		margin-left: 16px;
		padding: 4px 8px 6px;
	}
}

@media (max-width: 800px) {
	header {
		div#brand .brand-large {
			display: none;
		}
	}
}