@import "../Colors.scss";
@import "../Dimensions.scss";

$burger-button-padding: 24px;
$burger-highlight-width: 4px;
$burger-menu-width: 300px;
$burger-zindex: 50;

header, footer {
	flex: 0;
	font: 400 24px 'Baloo Chettan 2';
	padding: 0 $page-padding;
	width: 100%;

	.HeaderFooter__Container {
		display: flex;
		height: $footer-height;
		margin: 0 auto;
		max-width: 1440px;
	}
}

header {
	background: $header;
	color: $background;
	position: relative;
	z-index: 12;

	#brand {
		align-self: center;
		flex: 1;
		font-weight: 600;
		margin-top: -4px;
		text-transform: uppercase;

		&.HeaderMenu__HiddenBrand {
			visibility: hidden;
		}

		.HeaderMenu__Subtitle {
			display: block;
			font-size: 70%;
			font-weight: 400;
			margin-top: -6px;
			opacity: 0.7;
		}
	}

	a {
		color: inherit;
		opacity: 0.7;
		text-decoration: none;
		transition: 0.3s opacity;

		&:hover {
			color: inherit;
			opacity: 1.0;
			transition: 0.05s opacity;
		}
	}

	a.HeaderMenu__Link {
		align-items: center;
		display: flex;
		flex: 0;
		font-size: 18px;
		height: 100%;
		margin-left: 16px;
		padding: 4px 8px 6px;
		white-space: nowrap;

		&.active {
			border-bottom: 4px solid $link-normal;
			padding-bottom: 2px;
		}
	}

	.HeaderFooter__OpenHamburgerMenu {
		background: none;
		border: none;
		color: inherit;
		display: none;
		outline: none;
		margin: 0 16px 0 0;
		padding: 0;

		i {
			font-size: 36px;
		}
	}
}

footer {
	background: $background;
	border-top: 1px solid $outline-color;
	font-size: 14px;

	.HeaderFooter__Container {
		align-items: center;
		justify-content: space-between;
		opacity: 0.8;
		transition: 0.2s opacity;

		&:hover {
			opacity: 1.0;
		}

		#project-source {
			text-align: right;
		}
	}
}

.HeaderFooter__BurgerMenuShade {
	background: #000;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	z-index: $burger-zindex;

	&.HeaderFooter__BurgerMenuShade--Open {
		left: 0;
		opacity: 0.5;
		pointer-events: all;
		transition: 0.5s opacity;
	}

	&.HeaderFooter__BurgerMenuShade--Closed {
		transition: 0.5s opacity;
	}
}

.HeaderFooter__BurgerMenu {
	background: $header;
	bottom: 0;
	left: (-1 * $burger-menu-width);
	position: absolute;
	top: 0;
	transition: 0.5s left ease-in-out;
	width: $burger-menu-width;
	z-index: ($burger-zindex + 1);

	&.HeaderFooter__BurgerMenu--Open {
		left: 0;
	}

	.HeaderFooter__BurgerMenuItems {
		display: flex;
		flex-direction: column;
		font: 400 24px 'Baloo Chettan 2';

		a {
			color: $background;
			padding: ($burger-button-padding / 2) $burger-button-padding;
			opacity: 0.7;

			&:hover {
				opacity: 1.0;
			}

			&.active {
				border-left: $burger-highlight-width solid $link-normal;
				padding-left: ($burger-button-padding - $burger-highlight-width);
			}
		}
	}
}

@media (max-width: $body-narrow-width) {
	header {
		padding: 0 $page-padding-narrow;

		div#brand .HeaderMenu__Subtitle {
			display: none;
		}

		.HeaderFooter__OpenHamburgerMenu {
			display: block;
		}

		.HeaderMenu__Link {
			display: none !important;
		}
	}

	footer .HeaderFooter__Container {
		flex-direction: column;

		span {
			margin-bottom: 12px;
			text-align: center !important;

			&:first-child {
				margin-top: 12px;
			}
		}
	}
}