@import "../Colors.scss";
@import "../Dimensions.scss";

$flag-size: 20px;
$icon-size: 32px;
$padding-interior: 12px;

.EmployerDetailsHeader__Icon {
	border-radius: ($icon-size / 2) ($icon-size / 2);
	height: $icon-size;
	margin-right: $padding-interior;
	width: $icon-size;
}

.EmployerDetailsHeader__Location img {
	background: #a1a1a1;
	border-radius: 4px;
	height: ($flag-size * 3 / 4);
	margin-right: 6px;
	width: $flag-size;
}

.EmployerDetailsHeader__Title {
	align-items: center;
	display: flex;
	font-family: 'Baloo Chettan 2';

	h2 {
		font-weight: 400;
		margin: 0 4px;

		a {
			color: inherit;
		}

		+ .EmployerActionLinks__Link {
			margin-left: 12px;
		}
	}

	.EmployerDetailsHeader__TitleGap {
		flex: 1;
	}

	.EmployerDetailsHeader__Rating {
		background: $indicator-neutral;
		border-radius: 16px;
		color: #fff;
		cursor: default;
		font-size: 18px;
		font-weight: 600;
		height: 32px;
		padding: 3px 12px 13px 12px;

		&.EmployerDetailsHeader__Rating--good {
			background: $indicator-positive;
		}

		&.EmployerDetailsHeader__Rating--poor {
			background: $indicator-negative;
		}
	}

	.EmployerDetailsHeader__Ticker {
		color: #1b5e20;
		margin-left: 8px;
		opacity: 0.8;

		&:hover {
			opacity: 1.0;
		}
	}
}

.EmployerDetailsHeader__RatingIcon {
	margin-left: $padding-interior;
	vertical-align: bottom;
}

.EmployerDetailsHeader__Subtitle {
	color: #757575;
	cursor: default;
	display: flex;
	font-size: 12px;
	margin: ($padding-interior / 2) 0 $padding-interior;

	> a, > span {
		align-items: center;
		display: flex;
		margin-right: ($padding-interior * 2);
		transition: 0.2s all;

		&:hover {
			color: #212121;
		}
	}

	a {
		color: inherit;
	}

	i {
		font-size: 18px;
		margin-right: 4px;
		vertical-align: bottom;
	}

	.EmployerDetailsHeader__AggregateRatings {
		align-items: center;
		display: flex;
		flex: 1;
		justify-content: flex-end;
		margin: 0;
		opacity: 0.5;
		transition: 0.2s opacity;
	
		i {
			font-size: 24px;
			margin-right: 2px;
		}
	
		span {
			align-items: center;
			cursor: default;
			display: flex;
			margin-right: 8px;
	
			&.EmployerDetailsHeader__GoodRatings {
				color: $indicator-positive;
			}
	
			&.EmployerDetailsHeader__PoorRatings {
				color: $indicator-negative;
			}
		}
	}
}

@media (max-width: $body-reduced-width) {
	.EmployerDetailsHeader__Title {
		flex-wrap: wrap;
	}

	.EmployerDetailsHeader__Title--noShort {
		.EmployerDetailsHeader__Subtitle {
			> a, > span {
				display: block;
				margin-top: 8px;
			}
		}

		.EmployerDetailsHeader__Links i {
			margin: 8px 6px 0 0 !important;
		}
	
		.EmployerDetailsHeader__LinkBreak {
			flex-basis: 100%;
			height: 0;
		}
	}

	.EmployerDetailsHeader__RatingIcon {
		display: none;
	}
}

@media (any-hover: none) {
	.EmployerDetailsHeader__Subtitle .EmployerDetailsHeader__AggregateRatings {
		opacity: 1.0 !important;
	}
}
