@import "../Dimensions.scss";

main#home {
	margin: 68px auto;
	padding: 16px $page-padding;
	width: 100%;

	> div {
		margin: 0 auto;
		max-width: $body-max-width;
	}

	div.filters {
		max-width: ($body-max-width - $page-padding * 2);
		min-width: ($body-min-width - $page-padding * 2);
		width: 50%;
	}

	div.content {
		padding-top: 16px;
	}
}