@import "../Colors.scss";
@import "../Dimensions.scss";

$division-padding: 16px;

main#home {
	margin: 0 auto;
	width: 100%;

	> div {
		margin: 0 auto;
		padding: 0 $page-padding;
	}

	div.Home__Filters {
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
		background: $background;
		padding: $division-padding;
		position: sticky;
		top: 0;
		z-index: 10;
		
		> div {
			margin: 0 auto;
			max-width: ($body-max-width - $page-padding * 2);
			min-width: ($body-min-width - $page-padding * 2);
			width: 50%;
		}
	}

	div.Home__Content {
		max-width: $body-max-width;
		padding-bottom: $division-padding;
		padding-top: $division-padding;
	}
}

@media (max-width: $body-narrow-width) {
	main#home {
		> div {
			padding: 0 $page-padding-narrow;
		}

		div.filters > div {
			max-width: ($body-max-width - $page-padding-narrow * 2);
			min-width: ($body-min-width - $page-padding-narrow * 2);
		}
	}
}
