@import "../Colors.scss";
@import "../Dimensions.scss";

$input-buffer: 8px;
$input-height: 40px;

.EmployerListSearch__Container {
	align-items: center;
	display: flex;
}

.EmployerListSearch__SearchContainer {
	align-items: center;
	border: 1px solid $outline-color;
	border-radius: ($input-height / 2);
	display: flex;
	flex: 1;
	flex-direction: column;
	font: 400 16px 'Baloo Chettan 2';

	input, button {
		font: inherit;
	}
}

.EmployerListSearch__ViewTypeContainer {
	margin-left: 8px;

	button {
		background: none;
		border: none;
		border-radius: ($input-height / 2);
		cursor: pointer;
		height: $input-height;
		margin-left: 4px;
		outline: none;
		padding: 8px;
		transition: 0.1s all;
		width: $input-height;

		&:hover {
			background: rgba(0, 0, 0, 0.1);
		}
	}
}

.EmployerListSearch__InputContainer {
	display: flex;
	flex: 1;
	height: 100%;
	width: 100%;

	> i {
		opacity: 0.5;
	}

	input[type=search] {
		background: none;
		border: 0;
		font: 400 16px 'Baloo Chettan 2';
		outline: 0;
		width: 100%;
	}

	.EmployerListSearch__Input {
		align-items: center;
		border-right: 1px solid $outline-color;
		display: flex;
		flex: 1;
		padding: $input-buffer;
		white-space: nowrap;

		input {
			margin-left: 4px;
		}
	}

	.EmployerListSearch__ExpandFilters {
		align-items: center;
		background: none;
		border: none;
		cursor: pointer;
		display: flex;
		line-height: 0;
		margin: 0;
		outline: none;
		padding-right: 16px;

		&.EmployerListSearch__ExpandFilters--Open {
			color: $link-normal;
		}

		i {
			margin: 0 8px 0 4px;
		}
	}
}

.EmployerListSearch__FilterContainer {
	align-items: center;
	border-top: 1px solid $outline-color;
	display: flex;
	flex: 0;
	height: 100%;
	padding: $input-buffer;
	width: 100%;

	> div {
		margin-right: 8px;
	}
}
