@import "../Colors.scss";

.EmployerListSearchFiltersPopup__Container {
	background: $background;
	border-radius: 8px;
	box-shadow: 0 2px 5px $box-shadow-color;
	display: flex;
	flex-direction: column;
	margin-top: 4px;
	padding: 8px;
	position: absolute;
	width: 200px;
	z-index: 25;

	h3 {
		font-size: 18px;
		margin: 0;
		padding: 4px;
	}
}

.EmployerListSearchFiltersPopup__Overlay {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 24;
}
