@import "../Colors.scss";
@import "../Dimensions.scss";

$body-vert-width: 990px;
$card-area-padding: 16px;
$cell-width: ($body-min-width - $card-area-padding * 2);

main#home {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;

	.HomePage__Row {
		padding: 0 $page-padding;

		&.HomePage__Row--Alt {
			background: $header;
			color: $background;
		}

		> div {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: 0 auto;
			max-width: ($cell-width * 2 + $card-area-padding * 2 + $page-padding);
			padding: $page-padding $card-area-padding $card-area-padding;
			width: 100%;
		}

		div.HomePage__InfoBlock {
			align-self: center;

			h3 {
				font-size: 32px;
				margin: 16px 0;
			}

			p {
				font-size: 16px;
				line-height: 200%;
				padding: 0;
			}
		}

		div.HomePage__Spacer {
			width: $page-padding;
		}

		div.HomePage__TileBlock {
			max-width: $cell-width;
			width: 50%;
		}

		div.HomePage__HeroBlock {
			width: 100%;
		}

		div.HomePage__SampleCard {
			max-width: $cell-width;

			> div {
				height: 100%;
			}
		}

		&.HomePage__Primer {
			> div {
				flex-direction: column;
				max-width: $body-max-width;
				padding: 0 $page-padding $page-padding;
				text-align: center;
	
				.HomePage__PreTitle {
					font-size: 30px;
					margin-bottom: -6px;
					opacity: 0.7;
				}
	
				h1 {
					font-size: 80px;
					text-transform: uppercase;
					margin: 0 0 24px;
					padding: 0;
				}
	
				h2 {
					font-size: 20px;
					font-weight: 400;
					margin: 0;
					opacity: 0.0;
					padding: 0;
	
					&.HomePage__Subtitle--Loaded {
						opacity: 1.0;
						transition: 2s opacity;
						transition-delay: 0.5s;
					}
				}
			}
		}

		&.HomePage__Submit > div {
			align-items: center;

			img {
				min-width: 100%;
			}
		}
	}

	.HomePage__Links {
		display: flex;
		flex: 1;
		justify-items: space-between;
		text-align: center;
		width: 100%;

		.App__BigButton {
			margin: ($page-padding / 2) auto $page-padding;
		}

		&.HomePage__Row--Alt .App__BigButton {
			background: $header;
			border: 1px solid $outline-color;
			color: $outline-color;
			display: inline-block;
		
			&:hover {
				background: $outline-color;
				color: $header;
			}
		}
	}
}

@media (max-width: $body-vert-width) {
	main#home {
		.HomePage__Row {
			> div {
				flex-direction: column;
			}

			&.HomePage__Row--Reverse > div {
				flex-direction: column-reverse;
			}

			div.HomePage__TileBlock {
				flex: 1;
				margin: 0 auto;
				width: 100%;
			}

			div.HomePage__Spacer {
				height: $page-padding-narrow;
				width: 0;
			}
		}
	}
}

@media (max-width: $body-narrow-width) {
	main#home {
		.HomePage__Row {
			padding: 0 $page-padding-narrow;

			> div {
				padding: $page-padding-narrow $card-area-padding $card-area-padding;

				h3 {
					margin-top: 0 !important;
				}
			}

			div.HomePage__Spacer {
				height: 0;
			}

			&.HomePage__Primer > div {
				padding: 0 0 $page-padding-narrow;

				h1 {
					font-size: 64px;
				}
			}

			&.HomePage__Submit > div {
				img {
					width: 100%;
				}
			}
		}

		.HomePage__Links {
			.App__BigButton {
				margin: ($page-padding-narrow / 2) auto $page-padding-narrow;
			}
		}
	}
}
