@import "../Colors.scss";
@import "../Dimensions.scss";

$indicator-glow-size: 3px;

.EmployerCitation__Container {
	display: flex;
	line-height: 180%;

	.EmployerCitation__Indicator {
		flex: 0;
		margin-right: 8px;
	
		&.EmployerCitation__Indicator--Negative {
			color: $indicator-negative;
		}
	
		&.EmployerCitation__Indicator--Neutral {
			color: $indicator-neutral;
		}
	
		&.EmployerCitation__Indicator--Positive {
			color: $indicator-positive;
		}
	}
}

.EmployerCitation__Summary {
	margin-left: 4px;
}

.EmployerCitation__References {
	font-size: smaller;
	line-height: 0;
	vertical-align: super;
}

@media (max-width: $body-reduced-width) {
	.citation-references {
		font-size: inherit;
		margin-left: 4px;
		vertical-align: initial;
	}
}
