@import "../Dimensions.scss";

$indicator-glow-size: 3px;

$indicator-negative: #f44336;
$indicator-neutral: #90a4ae;
$indicator-positive: #4caf50;

.citation {
	display: flex;

	.indicator {
		align-self: center;
		flex: 0;
		margin-right: 8px;
		margin-top: -3px;
	
		&.indicator-negative {
			color: $indicator-negative;
		}
	
		&.indicator-neutral {
			color: $indicator-neutral;
		}
	
		&.indicator-positive {
			color: $indicator-positive;
		}
	}
}

.citation-summary {
	margin-left: 4px;
}

.citation-references {
	font-size: smaller;
	line-height: 0;
	vertical-align: super;

	a {
		color: #616161;
		text-decoration: none;

		&:hover {
			color: #1565c0;
		}
	}
}

@media (max-width: $body-reduced-width) {
	.citation-references {
		font-size: inherit;
		margin-left: 4px;
		vertical-align: initial;
	}
}
