$indicator-glow-size: 3px;
$indicator-size: 8px;

$indicator-negative: #f44336;
$indicator-neutral: #90a4ae;
$indicator-positive: #4caf50;

.indicator {
	border-radius: ($indicator-size / 2);
	display: inline-block;
	margin-right: 8px;
	height: $indicator-size;
	width: $indicator-size;

	&.indicator-negative {
		background: $indicator-negative;
		box-shadow:
			0 0 $indicator-glow-size $indicator-negative,
			0 0 $indicator-glow-size $indicator-negative;
	}

	&.indicator-neutral {
		background: $indicator-neutral;
		box-shadow:
			0 0 $indicator-glow-size $indicator-neutral,
			0 0 $indicator-glow-size $indicator-neutral;
	}

	&.indicator-positive {
		background: $indicator-positive;
		box-shadow:
			0 0 $indicator-glow-size $indicator-positive,
			0 0 $indicator-glow-size $indicator-positive;
	}
}

.citation-type {
	border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
	cursor: help;
}

.citation-summary {
	margin-left: 4px;
}
