@import "../Colors.scss";
@import "../Dimensions.scss";

$scale-base: 16px;

$body-color: $outline-color;
$border-radius: 12px;
$flag-size: 20px;
$icon-size: ($scale-base * 2);
$padding-interior: 12px;
$padding-sides: 16px;

.EmployerListItem__Container {
	background: $background;
	border: 1px solid $body-color;
	border-radius: $border-radius;
	display: flex;
	padding: 0 $padding-sides;
	transition: 0.1s all;
	width: 100%;

	.EmployerLogo__Image {
		height: $icon-size;
		margin-right: $padding-interior;
		width: $icon-size;
	}
}

.EmployerListItem__Container--NotFound {
	color: rgba(0, 0, 0, 0.5);
}

.EmployerListItem__Container--Simple {
	align-items: center;
	cursor: pointer;
	font: 400 24px 'Baloo Chettan 2';
	height: 56px;

	.EmployerListItem__Name {
		flex: 1;
		overflow: hidden;
		padding-right: 6px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.EmployerRatingPill__Box {
		align-items: center;
		cursor: pointer;
		display: flex;

		.material-icons {
			margin-left: 8px;
		}
	}

	&:hover {
		&, & .EmployerRatingPill__Box {
			color: #fff !important;
		}

		&.EmployerListItem__Rating--fair {
			background: $indicator-neutral;
			border-color: $indicator-neutral;
		}
	
		&.EmployerListItem__Rating--good {
			background: $indicator-positive;
			border-color: $indicator-positive;
		}
	
		&.EmployerListItem__Rating--poor {
			background: $indicator-negative;
			border-color: $indicator-negative;
		}
	}
}

.EmployerListItem__Container--Detailed {
	box-shadow: 0 0 0 $card-shadow-color;
	flex-direction: column;
	font-size: 16px;
	height: 250px;
	padding-bottom: $padding-interior;
	padding-top: $padding-interior;

	&:hover {
		box-shadow: 0px 3px 6px $card-shadow-color;
		transform: translateY(-1px);

		.EmployerListItem__AggregateRatings {
			opacity: 1.0;
		}

		a.EmployerActionLinks__Link {
			opacity: 1.0;
		}
	}

	.EmployerListItem__Summary {
		cursor: pointer;
		flex: 1;
		font-size: 14px;
		line-height: 180%;
		overflow-y: hidden;
		position: relative;
	
		p {
			margin: 0;
		}
	
		.EmployerListItem__OverflowScreen {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 30px;
			background: linear-gradient(to top, $background, rgba(255, 255, 255, 0));
		}
	}
	
	.EmployerListItem__Actions {
		display: flex;
		font-family: 'Baloo Chettan 2';
		justify-content: flex-end;
		margin: 3px 0 0;
	
		a.EmployerListItem__ReadMore {
			align-items: center;
			display: flex;
			flex: 1;
			justify-content: flex-end;
			margin-right: 0;
	
			i {
				margin-left: 4px;
			}
		}
	}
}

.EmployerListItem__Title {
	align-items: center;
	display: flex;
	font-family: 'Baloo Chettan 2';

	h2 {
		flex: 1;
		font-weight: 400;
		margin: 0 4px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		a {
			color: inherit;
		}
	}

	.EmployerLogo__Image {
		margin-right: ($padding-interior / 2);
	}
}

.EmployerListItem__Subtitle {
	color: #757575;
	cursor: default;
	display: flex;
	font-size: 12px;
	margin: ($padding-interior / 2) 0 $padding-interior;

	> a, > span {
		align-items: center;
		display: flex;
		margin-right: ($padding-interior * 2);
		transition: 0.2s all;

		&:hover {
			color: #212121;
		}
	}

	a {
		color: inherit;
	}

	i {
		font-size: 18px;
		margin-right: 4px;
		vertical-align: bottom;
	}

	.EmployerListItem__AggregateRatings {
		align-items: center;
		display: flex;
		flex: 1;
		justify-content: flex-end;
		margin: 0;
		opacity: 0.5;
		transition: 0.2s opacity;

		i {
			font-size: 24px;
			margin-right: 2px;
		}

		span {
			align-items: center;
			cursor: default;
			display: flex;
			margin-right: 8px;

			&.EmployerListItem__GoodRatings {
				color: $indicator-positive;
			}

			&.EmployerListItem__PoorRatings {
				color: $indicator-negative;
			}
		}
	}
}

.EmployerListItem__Location img {
	background: #a1a1a1;
	border-radius: 4px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	height: ($flag-size * 3 / 4);
	margin: 0 ($padding-interior + 4px) 0 ($padding-interior / 2);
	width: $flag-size;
}

@media (max-width: $body-reduced-width) {
	.EmployerListItem__Title {
		flex-wrap: wrap;
	}

	.EmployerListItem__Title--noShort {
		.EmployerListItem__Subtitle {
			> a, > span {
				display: block;
				margin-top: 8px;
			}
		}

		.EmployerListItem__Links i {
			margin: 8px 6px 0 0 !important;
		}
	
		.EmployerListItem__LinkBreak {
			flex-basis: 100%;
			height: 0;
		}
	}

	.EmployerRatingPill__Box .material-icons {
		display: none;
	}
}

@media (any-hover: none) {
	.EmployerListItem__Subtitle .EmployerListItem__AggregateRatings {
		opacity: 1.0 !important;
	}
}

