@import "../Colors.scss";
@import "../Dimensions.scss";

$body-color: $outline-color;
$border-radius: 12px;
$card-shadow-color: rgba(0, 0, 0, 0.2);
$icon-size: 32px;
$padding-interior: 12px;
$padding-sides: 16px;
$scale-base: 16px;

.EmployerListItem__Container {
	align-items: center;
	background: $background;
	border: 1px solid $body-color;
	border-radius: $border-radius;
	cursor: pointer;
	display: flex;
	font: 400 24px 'Baloo Chettan 2';
	height: 56px;
	padding: 0 $padding-sides;
	transition: 0.1s all;
	width: 100%;

	&:hover {
		color: #fff;

		&.EmployerListItem__Rating--fair {
			background: $indicator-neutral;
			border-color: $indicator-neutral;
		}
	
		&.EmployerListItem__Rating--good {
			background: $indicator-positive;
			border-color: $indicator-positive;
		}
	
		&.EmployerListItem__Rating--poor {
			background: $indicator-negative;
			border-color: $indicator-negative;
		}
	}

	.EmployerLogo__Image {
		height: ($scale-base) * 2;
		margin-right: $padding-interior;
		width: ($scale-base) * 2;
	}
}
