@import "../Dimensions.scss";

$padding-interior: 18px;

div.EmployerPageDetails__Container {
	font-size: 16px;

	a.EmployerActionLinks__Link {
		opacity: 1.0 !important;
	}
}

div.EmployerPageDetails__Body > div {
	margin-top: $padding-interior;

	&.EmployerPageDetails__Summary {
		margin-top: 6px;
	}
}

div.EmployerPageDetails__Summary {
	line-height: 180%;
}
