@import "../Colors.scss";
@import "../Dimensions.scss";

$division-padding: 16px;

main#employer-list {
	margin: 0 auto;
	width: 100%;

	div.EmployerListPage__Filters {
		box-shadow: 0 0 8px $box-shadow-color;
		background: $background;
		margin: 0 auto;
		padding: $division-padding;
		position: sticky;
		top: 0;
		z-index: 10;
		
		> div {
			margin: 0 auto;
			max-width: ($body-max-width - $page-padding * 2);
			min-width: ($body-min-width - $division-padding * 2);
			width: 50%;
		}
	}

	div.EmployerListPage__Container {
		padding: 0 $page-padding;
	}

	div.EmployerListPage__Content {
		margin: 0 auto;
		max-width: $body-max-width;
		padding-bottom: $division-padding;
		padding-top: $division-padding;
	}
}

@media (max-width: $body-narrow-width) {
	main#employer-list {
		div.EmployerListPage__Container {
			padding: 0 $page-padding-narrow;
		}

		div.EmployerListPage__Filters > div {
			max-width: $body-max-width;
		}
	}
}
