@import "../Colors.scss";
@import "../Dimensions.scss";

$division-padding: 16px;
$top-button-size: 48px;
$top-button-size-small: 32px;

main#employer-list {
	margin: 0 auto;
	width: 100%;

	> div {
		margin: 0 auto;
		padding: 0 $page-padding;
	}

	div.EmployerListPage__Filters {
		box-shadow: 0 0 8px $box-shadow-color;
		background: $background;
		padding: $division-padding;
		position: sticky;
		top: 0;
		z-index: 10;
		
		> div {
			margin: 0 auto;
			max-width: ($body-max-width - $page-padding * 2);
			min-width: ($body-min-width - $division-padding * 2);
			width: 50%;
		}
	}
	
	div.EmployerListPage__Content {
		max-width: $body-max-width;
		padding-bottom: $division-padding;
		padding-top: $division-padding;
	}
}

button.EmployerListPage__BackToTop {
	background: $background;
	border: 0;
	border-radius: ($top-button-size / 2);
	bottom: ($page-padding / 2);
	box-shadow: 0 2px 6px $box-shadow-color;
	cursor: pointer;
	position: fixed;
	height: $top-button-size;
	outline: none;
	pointer-events: initial;
	right: ($page-padding / 2);
	width: $top-button-size;
	z-index: 20;

	i {
		font-size: 36px;
		margin-top: 2px;
	}
}

@media (max-width: $body-narrow-width) {
	main#home {
		> div {
			padding: 0 $page-padding-narrow;
		}

		div.EmployerListPage__Filters > div {
			max-width: $body-max-width;
		}
	}

	button.EmployerListPage__BackToTop {
		bottom: ($page-padding-narrow / 2);
		height: $top-button-size-small;
		right: ($page-padding-narrow / 2);
		width: $top-button-size-small;

		i {
			font-size: 24px;
			margin-left: -2px;
		}
	}
}
