$background: #fff;
$body-font: #080b0c;
$header: #212121;
$primary-font: #666;
$outline-color: #dbdbdb;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$card-shadow-color: rgba(0, 0, 0, 0.2);

$link-background: #c5cae9;
$link-normal: #5c6bc0;
$link-hover: #283593;

$indicator-negative: #f44336;
$indicator-neutral: #90a4ae;
$indicator-positive: #4caf50;