@import "./Dimensions.scss";

$scrollbar-track-color: transparent;
$scrollbar-thumb-color: rgba(0, 0, 0, 0.4);
$scrollbar-width: 18px;

body.ReactModal__Body--open {
	overflow-y: hidden;
}

.ReactModal__Overlay {
	background-color: rgba(0, 0, 0, 0.6) !important;
	flex-direction: column;
	display: flex;
	padding: $page-padding;
	z-index: 20;

	.ReactModal__Content {
		border: none !important;
		border-radius: 12px !important;
		box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.4);
		margin: 0 auto;
		max-width: $body-max-width;
		overflow-y: scroll !important;
		position: initial !important;
		padding-right: (20px - $scrollbar-width) !important; /* 20px is React modal default padding. */
		scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;
		scrollbar-width: thin;
		width: 100%;

		&::-webkit-scrollbar {
			width: $scrollbar-width;
		}

		&::-webkit-scrollbar-track {
			background: $scrollbar-track-color;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $scrollbar-thumb-color;
			border: 7px solid transparent;
			border-radius: 9px;
			background-clip: padding-box;
		}

		&:not(:hover)::-webkit-scrollbar-thumb {
			background-color: transparent;
		}
	}
}

@media (max-width: $body-narrow-width) {
	.ReactModal__Overlay {
		padding-left: $page-padding-narrow;
		padding-right: $page-padding-narrow;
	}
}

@media (max-height: 500px) {
	.ReactModal__Overlay {
		padding-bottom: $page-padding-narrow;
		padding-top: $page-padding-narrow;
	}
}
