span.EmployerDetail__Container {
	cursor: default;
}

.EmployerDetail__Container {
	display: flex;
	padding: 0 4px;
	text-decoration: none;

	i + .EmployerDetail__Label {
		margin-left: 8px;
	}

	> .EmployerDetail__Label {
		margin-top: 3px;
	}
}