@import "../Dimensions.scss";

main#about {
	margin: 0 auto;
	width: 100%;

	div.content {
		line-height: 180%;
		margin: 0 auto;
		max-width: 1440px;
		padding: $page-padding;
	}

	h2 {
		margin-top: 32px;

		&:first-child {
			margin-top: 0;
		}
	}
}

.material-icons {
	user-select: none;
}

@media (max-width: $body-narrow-width) {
	main#about div.content {
		padding: $page-padding-narrow;
	}
}
