@import "../Dimensions.scss";

main#about {
	margin: 0 auto;
	width: 100%;

	div.content {
		margin: 0 auto;
		max-width: 1440px;
		padding: $page-padding ($page-padding * 2);
	}
}

@media (max-width: $body-narrow-width) {
	main#about div.content {
		padding: $page-padding-narrow ($page-padding-narrow * 2);
	}
}
