@import "../Colors.scss";
@import "../Dimensions.scss";

$card-min-width: 374px;
$close-button-size: 48px;
$close-button-size-small: 32px;

$body-2column-width: ($card-min-width * 2 + 40px);
$body-3column-width: ($card-min-width * 3 + 120px);

.EmployerList__Container--Loading, .EmployerList__Container--NoResults {
	font: 400 20px 'Baloo Chettan 2';
	margin: 16px auto;
	text-align: center;
}

.EmployerList__Grid {
	display: grid;
	grid-auto-rows: max-content;
	grid-gap: 16px;
	grid-template-columns: repeat(3, minmax(0, 1fr));
}

.EmployerList__Item {
	height: 100%;
}

.EmployerList__Pages {
	margin: 30px 12px 12px;
	text-align: center;

	.App__BigButton {
		display: inline-block;
		margin: 0 6px;
		padding: 0;
		width: 64px;
	}
}

@media (max-width: $body-2column-width) {
	.EmployerList__Grid {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}

@media (max-width: $body-3column-width) and (min-width: $body-2column-width) {
	.EmployerList__Grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}
