@import "../Colors.scss";
@import "../Dimensions.scss";

$body-color: $outline-color;
$border-radius: 12px;
$box-shadow-color: rgba(0, 0, 0, 0.2);
$icon-size: 32px;
$padding-interior: 12px;
$padding-sides: 16px;

.EmployerListDetails__Container {
	border: 1px solid $body-color;
	border-radius: $border-radius;
	box-shadow: 0 0 0 $box-shadow-color;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	height: 250px;
	padding: 0 $padding-sides;
	transition: 0.1s all;
	width: 100%;

	&:hover {
		box-shadow: 0px 3px 6px $box-shadow-color;
		transform: translateY(-1px);
	}

	&.EmployerListDetails__Rating--good {
		.EmployerListDetails__Rating, .EmployerListDetails__RatingIcon {
			background: $indicator-positive;
		}
	}

	&.EmployerListDetails__Rating--fair {
		.EmployerListDetails__Rating, .EmployerListDetails__RatingIcon {
			background: $indicator-neutral;
		}
	}

	&.EmployerListDetails__Rating--poor {
		.EmployerListDetails__Rating, .EmployerListDetails__RatingIcon {
			background: $indicator-negative;
		}
	}
}

.EmployerListDetails__Icon {
	border-radius: ($icon-size / 2) ($icon-size / 2);
	height: auto;
	margin-right: $padding-interior;
	width: $icon-size;
}

.EmployerListDetails__Title {
	align-items: center;
	display: flex;
	font-family: 'Baloo Chettan 2';
	margin-top: $padding-interior;

	h2 {
		font-weight: 400;
		margin: 0 4px;

		a {
			color: inherit;
		}
	}

	.EmployerListDetails__Links {
		align-content: center;
		flex: 1;

		i {
			margin: 4px 0 0 6px;
		}
	}

	.EmployerListDetails__Rating {
		border-radius: 16px;
		color: #fff;
		cursor: default;
		font-size: 18px;
		font-weight: 600;
		height: 32px;
		padding: 3px 12px 13px 12px;
	}
}

.EmployerListDetails__RatingIcon {
	margin-left: $padding-interior;
	vertical-align: bottom;
}

.EmployerListDetails__Subtitle {
	color: #757575;
	cursor: default;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	margin: $padding-interior 0;

	> a, > span {
		transition: 0.2s all;

		&:hover {
			color: #212121;
		}
	}

	a {
		color: inherit;
	}

	i {
		font-size: 18px;
		margin-left: 4px;
		vertical-align: bottom;
	}
}

.EmployerListDetails__Summary {
	flex: 1;
	font-size: 14px;
	line-height: 180%;
	overflow-y: hidden;
	position: relative;

	.EmployerListDetails__OverflowScreen {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 30px;
		background: linear-gradient(to top, $background, rgba(255, 255, 255, 0));
	}
}

.EmployerListDetails__Actions {
	display: flex;
	font-family: 'Baloo Chettan 2';
	justify-content: flex-end;
	margin: 3px 0 $padding-interior;

	a {
		align-items: center;
		display: flex;

		i {
			margin-left: 4px;
		}
	}
}

@media (max-width: $body-narrow-width) {
	.EmployerListDetails__Details {
		margin-left: auto;
		margin-right: auto;
		max-width: $body-min-width;

		span.break {
			display: block;
			flex-basis: 100%;
			height: 12px;
			width: 0;
		}
	}
}

@media (max-width: $body-reduced-width) {
	.EmployerListDetails__Details .label-hides {
		.icon {
			margin: 0;
		}

		.label {
			display: none;
		}
	}
}
