@import "../Colors.scss";
@import "../Dimensions.scss";

$body-color: $outline-color;
$border-radius: 12px;
$box-shadow-color: rgba(0, 0, 0, 0.2);
$icon-size: 32px;
$padding-interior: 12px;
$padding-sides: 16px;

.EmployerListDetails__Container {
	border: 1px solid $body-color;
	border-radius: $border-radius;
	box-shadow: 0 0 0 $box-shadow-color;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	height: 250px;
	padding: $padding-interior $padding-sides;
	transition: 0.1s all;
	width: 100%;

	&:hover {
		box-shadow: 0px 3px 6px $box-shadow-color;
		transform: translateY(-1px);

		.EmployerListDetails__AggregateRatings {
			opacity: 1.0;
		}
	}
}

.EmployerListDetails__Summary {
	cursor: pointer;
	flex: 1;
	font-size: 14px;
	line-height: 180%;
	overflow-y: hidden;
	position: relative;

	.EmployerListDetails__OverflowScreen {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 30px;
		background: linear-gradient(to top, $background, rgba(255, 255, 255, 0));
	}
}

.EmployerListDetails__Actions {
	display: flex;
	font-family: 'Baloo Chettan 2';
	justify-content: flex-end;
	margin: 3px 0 0;

	a {
		align-items: center;
		display: flex;

		i {
			margin-left: 4px;
		}
	}
}

.EmployerListDetails__AggregateRatings {
	display: flex;
	flex: 1;
	opacity: 0.5;
	transition: 0.2s opacity;

	i {
		font-size: 24px;
		margin-right: 2px;
	}

	span {
		display: flex;
		margin-right: 8px;

		&.EmployerListDetails__GoodRatings {
			color: $indicator-positive;
		}

		&.EmployerListDetails__PoorRatings {
			color: $indicator-negative;
		}
	}
}
