@import "../Colors.scss";
@import "../Dimensions.scss";

$body-color: $outline-color;
$border-radius: 8px;
$box-shadow-color: rgba(0, 0, 0, 0.2);
$icon-size: 32px;
$padding-interior: 8px;
$padding-sides: 12px;

.EmployerListDetails__Container {
	border: 1px solid $body-color;
	border-radius: $border-radius;
	box-shadow: 0 0 0 $box-shadow-color;
	font-size: 16px;
	height: 100%;
	margin-bottom: $padding-interior;
	transition: 0.1s all;
	width: 100%;

	&:hover {
		box-shadow: 0px 3px 6px $box-shadow-color;
		transform: translateY(-1px);
	}

	&.EmployerListDetails__Rating--good {
		.EmployerListDetails__Rating, .EmployerListDetails__RatingIcon {
			color: $indicator-positive;
		}
	}

	&.EmployerListDetails__Rating--fair {
		.EmployerListDetails__Rating, .EmployerListDetails__RatingIcon {
			color: $indicator-neutral;
		}
	}

	&.EmployerListDetails__Rating--poor {
		.EmployerListDetails__Rating, .EmployerListDetails__RatingIcon {
			color: $indicator-negative;
		}
	}
}

.EmployerListDetails__Icon {
	border-radius: ($icon-size / 2) ($icon-size / 2);
	height: auto;
	margin-right: $padding-interior;
	width: $icon-size;
}

.EmployerListDetails__Title {
	align-items: center;
	display: flex;
	flex: 1;
	font-family: 'Baloo Chettan 2';
	margin: $padding-interior $padding-sides;

	h2 {
		font-weight: 400;
		margin: 0;
	}

	.EmployerListDetails__Links {
		align-content: center;
		flex: 1;

		i {
			margin: 4px 0 0 6px;
		}
	}

	.EmployerListDetails__Rating {
		font-size: 18px;
		font-weight: 600;
	}
}

.EmployerListDetails__RatingIcon {
	margin-left: $padding-interior;
}

.EmployerListDetails__Subtitle {
	color: #757575;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	margin: $padding-interior $padding-sides;
	transition: 0.2s all;

	&:hover {
		color: #212121;
	}

	a {
		color: inherit;
	}

	i {
		font-size: 18px;
		line-height: 0;
	}
}

.EmployerListDetails__Summary {
	border-left: 4px solid rgba(0, 0, 0, 0.4);
	line-height: 190%;
	margin: ($padding-interior * 2) $padding-sides $padding-interior;
	padding-left: 16px;
}

@media (max-width: $body-narrow-width) {
	.EmployerListDetails__Details {
		margin-left: auto;
		margin-right: auto;
		max-width: $body-min-width;

		span.break {
			display: block;
			flex-basis: 100%;
			height: 12px;
			width: 0;
		}
	}
}

@media (max-width: $body-reduced-width) {
	.EmployerListDetails__Details .label-hides {
		.icon {
			margin: 0;
		}

		.label {
			display: none;
		}
	}
}
