@import "../Colors.scss";

$input-buffer: 8px;
$input-height: 40px;

div.SearchInput__Container {
	align-items: center;
	border: 1px solid $outline-color;
	border-radius: ($input-height / 2);
	display: flex;
	height: $input-height;
	padding: 0 ($input-height / 2 - $input-buffer) 0 $input-buffer;
}

input[type=search] {
	background: none;
	border: 0;
	font: 400 16px 'Baloo Chettan 2';
	outline: 0;
	width: 100%;
}