body {
	background: #eceff1;
	color: #080b0c;
	font: 14px Merriweather;
	margin: 0;

	#root {
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 100%;

		> div {
			flex: 1;
		}
	}

	.loader > div {
		margin: 8px auto;
	}
}
