@import "./views/Colors.scss";

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
}

body {
	background: $background;
	color: $body-font;
	font: 14px Merriweather;
	margin: 0;
	min-width: 420px;
	position: relative;

	#root {
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 100%;

		main {
			flex: 1;
		}
	}

	.loader > div {
		margin: 8px auto;
	}
}

a {
	color: $link-normal;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		color: $link-hover;
	}
}

.App__BigButton {
	background: $background;
	border: 1px solid $header;
	border-radius: 32px;
	color: $header;
	cursor: pointer;
	display: block;
	font-family: inherit;
	font-size: 24px;
	height: 64px;
	margin: 30px auto;
	outline: none;
	padding: 16px 48px;

	&:hover {
		background: $header;
		color: $background;
	}
}
