@import "./views/Colors.scss";

* {
	box-sizing: border-box;
}

body {
	background: $background;
	color: $body-font;
	font: 14px Merriweather;
	margin: 0;
	min-width: 420px;

	#root {
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 100%;

		main {
			flex: 1;
		}
	}

	.loader > div {
		margin: 8px auto;
	}
}
