@import "../Colors.scss";
@import "../Dimensions.scss";

main#employer-page {
	margin: 0 auto;
	padding: 0 $page-padding;
	width: 100%;

	> div {
		margin: 0 auto;
	}
	
	div.EmployerPage__Content {
		max-width: $body-max-width;
		padding-bottom: 16px;
		padding-top: 16px;
	}
}

@media (max-width: $body-narrow-width) {
	main#employer-page {
		padding: 0 $page-padding-narrow;
	}
}